.h_row_center {
    margin-top: 80px; 
    width: 1180px; 
    justify-content: space-around;
}

h4 {
    margin-left: 60px;
}

.margin_box {
    margin-top: 20px;
}

.h_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 30px;
}

.items4 {
    position: relative; 
    width: 240px; 
    height: 140px; 
    border-radius: 8px; 
    overflow: hidden; 
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
}

.namebox {
    position: relative; 
    padding: 10px 0px 22px;
}
