.h_row_center {
    margin-top: 60px; 
    width: 1180px; 
    justify-content: space-around;
}

.items {
    position: relative; 
    width: 274px; 
    height: 140px; 
    border-radius: 8px; 
    overflow: hidden; 
    cursor: pointer;
    display: inline-block;
    margin-left: 60px;
}

.main_top_text {
    margin-top: 20px; 
    margin-left: 20px; 
    font-weight: bold; 
    font-size: 20px; 
    line-height: 28px; 
    letter-spacing: -0.2px; 
    color: rgb(255, 255, 255);
}

img {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -2;
}

.h_button {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 62px;
    height: 28px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
}

.h_button_detail {
    font-size: 12px;
    line-height: 14px;
    color: rgb(69, 75, 80);
    margin: 0px;
    text-align: center;
    margin-top: 8px;
    font-weight: bold;
}